---
# DataWrangling Comtrade

La siguiente base de datos fue extraida desde UN Comtrade (https://comtrade.un.org/), que correspone a una base de datos con información histórica de comercio entre paises, mantenida por las Naciones Unidas.

Los datos informados correponden a transacciones de Chile y de Perú.

#### 1. Importar librerías

In [1]:
import pandas as pd

#### 2. Realice la lectura de datos

In [2]:
df = pd.read_csv('Comtrade-X-CL-PE.csv')

#### 3. Realice operaciones básicas de exploración del dataset

In [3]:
df.shape

(32538, 35)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32538 entries, 0 to 32537
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Classification          32538 non-null  object
 1   Year                    32538 non-null  int64
 2   Period                  32538 non-null  int64
 3   Period Desc.            32538 non-null  int64
 4   Aggregate Level         32538 non-null  int64
 5   Is Leaf Code            32538 non-null  int64
 6   Trade Flow Code         32538 non-null  int64
 7   Trade Flow              32538 non-null  object
 8   Reporter Code           32538 non-null  int64
 9   Reporter                32538 non-null  object
 10  Reporter ISO            32538 non-null  object
 11  Partner Code            32538 non-null  int64
 12  Partner                 32538 non-null  object
 13  Partner ISO             32538 non-null  object
 14  2nd Partner Code        32538 non-null  int64
 15  2nd Partner             32538 non-null  object
 16  2nd Partner ISO         32538 non-null  object
 17  Customs Proc. Code      32538 non-null  object
 18  Customs                 32538 non-null  object
 19  Mode of Transport Code  32538 non-null  int64
 20  Mode of Transport       32538 non-null  object
 21  Commodity Code          32538 non-null  int64
 22  Commodity               32538 non-null  object
 23  Qty Unit Code           32538 non-null  int64
 24  Qty Unit                0 non-null      float64
 25  Qty                     32538 non-null  int64
 26  Alt Qty Unit Code       32538 non-null  int64
 27  Alt Qty Unit            0 non-null      float64
 28  Alt Qty                 32538 non-null  int64
 29  Netweight (kg)          28353 non-null  float64
 30  Gross weight (kg)       28468 non-null  float64
 31  Trade Value (US$)       32538 non-null  int64
 32  CIF Trade Value (US$)   0 non-null      float64
 33  FOB Trade Value (US$)   32538 non-null  float64
 34  Flag                    32538 non-null  int64
dtypes: float64(6), int64(17), object(12)
memory usage: 8.7+ MB

In [5]:
df.describe()

,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Reporter Code,Partner Code,2nd Partner Code,Mode of Transport Code,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
count,32538.000000,32538.000000,32538.000000,32538.0,32538.0,32538.0,32538.000000,32538.000000,32538.0,32538.000000,...,32538.0,32538.0,0.0,32538.0,28353.0,28468.0,3.253800e+04,0.0,3.253800e+04,32538.000000
mean,2018.500338,2018.500338,2018.500338,2.0,0.0,0.0,491.479255,408.469758,0.0,854.991087,...,0.0,-1.0,NaN,0.0,0.0,0.0,2.049644e+07,NaN,2.049644e+07,0.226935
std,0.500008,0.500008,0.500008,0.0,0.0,0.0,195.447263,269.264814,0.0,1260.299492,...,0.0,0.0,NaN,0.0,0.0,0.0,3.589122e+08,NaN,3.589122e+08,0.925346
min,2018.000000,2018.000000,2018.000000,2.0,0.0,0.0,152.000000,0.000000,0.0,0.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,0.000000e+00,NaN,1.000000e-02,0.000000
25%,2018.000000,2018.000000,2018.000000,2.0,0.0,0.0,604.000000,178.000000,0.0,0.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,6.032000e+03,NaN,6.032000e+03,0.000000
50%,2019.000000,2019.000000,2019.000000,2.0,0.0,0.0,604.000000,380.000000,0.0,0.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,7.220000e+04,NaN,7.220000e+04,0.000000
75%,2019.000000,2019.000000,2019.000000,2.0,0.0,0.0,604.000000,642.000000,0.0,2100.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,8.226188e+05,NaN,8.226190e+05,0.000000
max,2019.000000,2019.000000,2019.000000,2.0,0.0,0.0,604.000000,899.000000,0.0,9900.000000,...,0.0,-1.0,NaN,0.0,0.0,0.0,2.121004e+10,NaN,2.121004e+10,4.000000

#### 4. ¿Cuántas filas y columnas tiene el dataset?

In [6]:
df.shape

(32538, 35)

#### 5. ¿Cuántos reporters distintos hay en los datos? (campo Reporter)

In [7]:
df['Reporter'].unique()

array(['Chile', 'Peru'], dtype=object)

#### 5. ¿Qué años de data considera el reporte?

In [8]:
df['Year'].unique()

array([2018, 2019], dtype=int64)

#### 5. Haga un análisis de valores nulos

In [9]:
df.isnull().sum()

Classification                0
Year                          0
Period                        0
Period Desc.                  0
Aggregate Level               0
Is Leaf Code                  0
Trade Flow Code               0
Trade Flow                    0
Reporter Code                 0
Reporter                      0
Reporter ISO                  0
Partner Code                  0
Partner                       0
Partner ISO                   0
2nd Partner Code              0
2nd Partner                   0
2nd Partner ISO               0
Customs Proc. Code            0
Customs                       0
Mode of Transport Code        0
Mode of Transport             0
Commodity Code                0
Commodity                     0
Qty Unit Code                 0
Qty Unit                  32538
Qty                           0
Alt Qty Unit Code             0
Alt Qty Unit              32538
Alt Qty                       0
Netweight (kg)             4185
Gross weight (kg)          4070
Trade Value (US$)             0
CIF Trade Value (US$)     32538
FOB Trade Value (US$)         0
Flag                          0
dtype: int64

#### 6. En base al análisis anterior, ¿eliminaría columnas? ¿cuáles? Si es así, proceda...

#### 7. ¿Que densidad de datos tienen las columnas Netwweight y Trade Value?
Nos referimos al porcentaje de datos no nulo que tiene cada columna respecto al total

In [16]:
(1 - df[['Netweight (kg)','Trade Value (US$)']].isnull().sum()/df.shape[0])*100

Netweight (kg)        87.138115
Trade Value (US$)    100.000000
dtype: float64

#### 8. Analice la columna Netweight. ¿Encuentra alguna inconsistencia?

In [ ]:
df['Netweight (kg)'].describe()

#### 9. Calcule los límites inferiores y superiores de outlaiers de la columna Trade Value. ¿Qué cantidad posee dicha columna?

In [18]:
q1 = df['Trade Value (US$)'].quantile(.25)
q3 = df['Trade Value (US$)'].quantile(.75)

iqr = q3 - q1
print('IQR:',iqr)

lsup = q3 + 1.5*iqr
print('LSUP:',lsup)

linf = q1 - 1.5*iqr
print('LINF:',linf)

cant = df[df['Trade Value (US$)']>lsup]['Period'].count()
print('Cant Outliers',cant)

IQR: 816586.75
LSUP: 2047498.875
LINF: -1218848.125
Cant Outliers 5720

#### 10. Analice el registro que presenta el máximo valor de Trade Value. ¿A qué corresponde? ¿Podría ser considerado un error o un caso poco frecuente? Fundamente su respuesta

In [20]:
df[df['Trade Value (US$)']==df['Trade Value (US$)'].max()][['Period','Reporter','Commodity Code','Commodity','Partner','Mode of Transport','Trade Value (US$)']]

,Period,Reporter,Commodity Code,Commodity,Partner,Mode of Transport,Trade Value (US$)
25,2018,Chile,26,"Ores, slag and ash",World,All MOTs,21210039528

#### 11. ¿Cuáles son los diferentes partners que Chile realiza sus exportaciones? ¿Qué le llama la atención del resultado?

In [21]:
df[df['Reporter']=='Chile']['Partner'].unique()

array(['World', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Azerbaijan', 'Argentina', 'Australia', 'Austria', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Armenia', 'Barbados', 'Belgium',
       'Bermuda', 'Bolivia (Plurinational State of)',
       'Bosnia Herzegovina', 'Botswana', 'Brazil', 'Belize',
       'Br. Virgin Isds', 'Brunei Darussalam', 'Bulgaria', 'Myanmar',
       'Belarus', 'Cambodia', 'Cameroon', 'Canada', 'Cabo Verde',
       'Cayman Isds', 'Sri Lanka', 'China', 'Colombia', 'Comoros',
       'Congo', 'Dem. Rep. of the Congo', 'Cook Isds', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Benin', 'Denmark',
       'Dominica', 'Dominican Rep.', 'Ecuador', 'El Salvador',
       'Equatorial Guinea', 'Ethiopia', 'Estonia', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Fr. South Antarctic Terr.',
       'Djibouti', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Kiribati',
       'Greece', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guyana',
       'Haiti', 'Honduras', 'China, Hong Kong SAR', 'Hungary', 'Iceland',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       "Côte d'Ivoire", 'Jamaica', 'Japan', 'Kazakhstan', 'Jordan',
       'Kenya', 'Rep. of Korea', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Dem. Rep.", 'Lebanon', 'Latvia', 'Liberia', 'Libya',
       'Lithuania', 'Luxembourg', 'China, Macao SAR', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Other Asia, nes', 'Mongolia', 'Rep. of Moldova', 'Morocco',
       'Mozambique', 'Oman', 'Namibia', 'Nepal', 'Netherlands', 'Curaçao',
       'Aruba', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Nigeria',
       'Norway', 'N. Mariana Isds', 'FS Micronesia', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Anguilla', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Seychelles', 'Sierra Leone', 'India', 'Singapore',
       'Slovakia', 'Viet Nam', 'Slovenia', 'Somalia', 'South Africa',
       'Spain', 'Suriname', 'Eswatini', 'Sweden', 'Switzerland', 'Syria',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Arab Emirates', 'Tunisia', 'Turkey',
       'Turks and Caicos Isds', 'Uganda', 'Ukraine', 'North Macedonia',
       'Egypt', 'United Kingdom', 'United Rep. of Tanzania', 'USA',
       'Burkina Faso', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Samoa',
       'Zambia', 'Areas, nes', 'Afghanistan', 'Central African Rep.',
       'Chad', 'Gibraltar', 'Madagascar', 'Niger', 'Other Africa, nes',
       'Tajikistan'], dtype=object)

#### Análisis del partner "World"

Como se pudo apreciar, el partner "World" es un valor que requiere mayor atención. Vamos a crear una nueva columna en el dataframe donde señalaremos si correponde a un registro "NotWorld:

In [22]:
df['NotWorld'] = df['Partner'].apply(lambda x : x !='World')

Ahora vamos a sumarizar los valores de registros World y NotWorld, lo haremos tomando como referencia el código de commodity 26

In [23]:
df[df['Commodity Code']==26].groupby('NotWorld').sum()[['Trade Value (US$)','FOB Trade Value (US$)']]

          Trade Value (US$)  FOB Trade Value (US$)
NotWorld
False          111495065061           1.114951e+11
True           111495064956           1.114951e+11

Como se puede apreciar, el registro World totaliza los registros de los demás países. En la siguiente tabla pivoteada se aprecia con mayor claridad.

In [24]:
df[df['Commodity Code']==26].pivot_table(index='Partner', columns='NotWorld', 
                                         values='Trade Value (US$)', aggfunc='sum', 
                                                                        margins=True)

NotWorld                                 False          True           All
Partner
Algeria                                    NaN  3.388939e+07      33889390
Argentina                                  NaN  2.498466e+07      24984664
Aruba                                      NaN  1.206900e+04         12069
Australia                                  NaN  3.177558e+08     317755802
Austria                                    NaN  1.410000e+02           141
Bahrain                                    NaN  7.203845e+07      72038449
Belgium                                    NaN  9.718908e+08     971890842
Bolivia (Plurinational State of)           NaN  1.417090e+05        141709
Brazil                                     NaN  3.029797e+09    3029797286
Bulgaria                                   NaN  1.554337e+09    1554337081
Cambodia                                   NaN  1.421587e+07      14215873
Canada                                     NaN  9.879890e+08     987989047
Chile                                      NaN  9.246581e+08     924658116
China                                      NaN  6.246645e+10   62466454143
China, Hong Kong SAR                       NaN  5.346339e+07      53463392
Colombia                                   NaN  3.682800e+04         36828
Dem. People's Rep. of Korea                NaN  6.430528e+06       6430528
Dominican Rep.                             NaN  1.433200e+04         14332
Ecuador                                    NaN  3.750190e+05        375019
El Salvador                                NaN  2.144900e+04         21449
Finland                                    NaN  5.471485e+08     547148509
France                                     NaN  2.656000e+03          2656
Georgia                                    NaN  2.916602e+08     291660206
Germany                                    NaN  3.001835e+09    3001835440
Greece                                     NaN  7.083940e+05        708394
Hungary                                    NaN  1.675999e+06       1675999
India                                      NaN  3.051014e+09    3051013739
Indonesia                                  NaN  2.920142e+07      29201420
Italy                                      NaN  1.648806e+08     164880579
Japan                                      NaN  1.382684e+10   13826839802
Luxembourg                                 NaN  1.050360e+05        105036
Malaysia                                   NaN  4.803084e+08     480308367
Mexico                                     NaN  5.888744e+08     588874414
Namibia                                    NaN  5.692704e+08     569270384
Netherlands                                NaN  8.709755e+08     870975543
New Zealand                                NaN  8.000000e+00             8
Oman                                       NaN  1.690940e+07      16909404
Other Asia, nes                            NaN  4.549471e+08     454947118
Panama                                     NaN  3.648220e+05        364822
Peru                                       NaN  3.738998e+08     373899768
Philippines                                NaN  9.139813e+08     913981299
Poland                                     NaN  9.758785e+07      97587854
Portugal                                   NaN  2.000000e+00             2
Rep. of Korea                              NaN  9.860864e+09    9860863925
Russian Federation                         NaN  4.393757e+08     439375669
South Africa                               NaN  3.120157e+06       3120157
Spain                                      NaN  3.441985e+09    3441985131
Sweden                                     NaN  1.454742e+08     145474152
Switzerland                                NaN  1.941276e+07      19412759
Thailand                                   NaN  1.095097e+08     109509718
Turkey                                     NaN  6.763152e+07      67631520
USA                                        NaN  1.533541e+09    1533540983
United Kingdom                             NaN  4.651684e+07      46516841
Uruguay                                    NaN  6.400000e+03          6400
Viet Nam                                   NaN  8.693078e+07      86930778
World                             1.114951e+11           NaN  111495065061
All                               1.114951e+11  1.114951e+11  222990130017

#### 12. Elimire los registros con partner World

In [25]:
df.drop(df[df['Partner']=='World'].index, axis=0, inplace=True)

#### 13. Vuelva a desplegar el registro con el mayor valor de Trade Value. ¿Qué diferencia se aprecia? ¿A quién le realiza la mayor exportación de ese commodity?

In [27]:
df[df['Trade Value (US$)']==df['Trade Value (US$)'].max()][['Period','Reporter','Commodity Code','Commodity','Partner','Mode of Transport','Trade Value (US$)']]

,Period,Reporter,Commodity Code,Commodity,Partner,Mode of Transport,Trade Value (US$)
743,2018,Chile,26,"Ores, slag and ash",China,All MOTs,10678481900

#### Análisis columna Mode of Transport
Ahora encontramos que la columna Mode of Transport tiene el valor All MOTs, es posible que suceda lo mismo que con partner World. Antes de eliminar la columna, verificaremos si tanto Chile como Perú reportan sus exportaciones indicando el medio de transporte.

In [28]:
df['NotAllMOTs'] = df['Partner'].apply(lambda x : x !='All MOTs')

# tomamos como ejemplo los commodities de Animales y carne (commodity code = 2)
df[df['Commodity Code']==2].pivot_table(index=['Reporter','Mode of Transport'], 
                                        columns='NotAllMOTs', 
                                        values='Trade Value (US$)', 
                                        aggfunc='sum', margins=True)

NotAllMOTs                        True         All
Reporter Mode of Transport
Chile    All MOTs           2101889437  2101889437
Peru     Air                    193991      193991
         All MOTs              9595133     9595133
         Sea                   9401142     9401142
All                         2121079703  2121079703

En este caso, se aprecia que Chile no reporta sus exportaciones desglosando el medio de transporte pero Perú sí lo hace. Si hubiéramos eliminado todos los registros de All MOTs, habríamos borrado los datos de Chile...

#### 15. Elimine los registros All MOTs solamente para el caso de Perú

In [29]:
df.drop(df[(df['Mode of Transport']=='All MOTs')&(df['Reporter']=='Peru')].index, axis=0, inplace=True)

#### 16. Vuelva a desplegar el registro que presenta el máximo valor de Trade Value. ¿Quién es el principal partner de exportación de Chile, qué commodity se exporta y cuál es el medio de transporte?

In [31]:
df2 = df[df['Reporter']=='Chile']
df2[df2['Trade Value (US$)']==df2['Trade Value (US$)'].max()][['Period','Reporter','Commodity Code','Commodity','Partner','Mode of Transport','Trade Value (US$)']]

,Period,Reporter,Commodity Code,Commodity,Partner,Mode of Transport,Trade Value (US$)
743,2018,Chile,26,"Ores, slag and ash",China,All MOTs,10678481900

#### 17. ¿Quién es el principal partner de exportaciones de Perú, qué commodity es y cuál es el medio de transporte?

In [32]:
df2 = df[df['Reporter']=='Peru']
df2[df2['Trade Value (US$)']==df2['Trade Value (US$)'].max()][['Period','Reporter','Commodity Code','Commodity','Partner','Mode of Transport','Trade Value (US$)']]

,Period,Reporter,Commodity Code,Commodity,Partner,Mode of Transport,Trade Value (US$)
23004,2019,Peru,26,"Ores, slag and ash",China,Sea,10618326550

#### 18. Cree una columna adicional (Is Leather), booleana, con valor True si el commodity importado está relacionado con cuero (Leather). Posteriormente, contabilice cuántos registros tienen esta marca en True

In [33]:
df['isLeather'] = df['Commodity'].apply(lambda x : 'leather' in x.lower())
df['isLeather'].sum()

395

#### 19. ¿Cuánto es el valor de las exportaciones de cuero de Chile el año 2019?

In [34]:
df[(df['isLeather']==True)&(df['Reporter']=='Chile')&(df['Year']==2019)]['Trade Value (US$)'].sum()

48934992

## Buen trabajo!!

---