### Actividad Métricas Evaluación Modelo Clasificación

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
import seaborn as sns
%matplotlib inline

### Datos de prueba

In [25]:
df = pd.read_csv('student_scores.csv')
df2 = pd.read_csv('resultado_metricas.csv', index_col=0)

In [26]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [27]:
df2.head()

   Aprobado_Desaprobado  pred
0                     1     1
1                     1     1
2                     1     1
3                     0     0
4                     1     1

In [38]:
y_true=df2[['Aprobado_Desaprobado']].squeeze()
y_pred=df2[['pred']].squeeze()

### Matriz de Confusión

Primero vamos a crear una matriz de confusión con la función crosstab (crea una tabla pivoteada con la frecuencia de los elementos)

In [41]:
pdf = pd.crosstab(y_true, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

In [42]:
pdf

Predicted   0   1  All
True
0          11   0   11
1           0  14   14
All        11  14   25

In [43]:
# Complete los valores de los arreglos

# True Negative
TN = pdf[0][0]

# True Positive
TP = pdf[1][1]

# False Negative
FN = pdf[1][0]

# False Positive
FP = pdf[0][1]

# Total
TOT = TN + TP + FN + FP

print("TP:{}, TN:{}, FP:{}, FN:{}, TOT:{}".format(TP,TN,FP,FN,TOT))

TP:14, TN:11, FP:0, FN:0, TOT:25

### Metricas

In [50]:
# Accuracy (Precisión)
acc =(TP+TN)/TOT
print("Accurracy is :", round(acc,2))

# Precision (Exactitud)
prec =TP/(FP+TP)
print("Precision is :", round(prec,2))

# Recall (Sensibilidad)
rec =TP/(TP+FN)
print("Recall is :", round(rec,2))

# Specifity (Especificidad)
spe =TN/(TN+FP)
print("Specifity is :", round(spe,2))

# F1-Score = 2 * (precision x recall / (precision + recall))
# F1 Score takes into account precision and the recall. It is created by finding the the harmonic mean of precision and recall.
f1 =2*(prec*rec)/(prec+rec)
print("F1 Score is :", round(f1,2))

Accurracy is : 1.0
Precision is : 1.0
Recall is : 1.0
Specifity is : 1.0
F1 Score is : 1.0

In [51]:
from sklearn.metrics import classification_report

In [52]:
# Report which includes Precision, Recall and F1-Score.
print(classification_report(y_true,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        14

    accuracy                           1.00        25
   macro avg       1.00      1.00      1.00        25
weighted avg       1.00      1.00      1.00        25