In [2]:
import pandas as pd

data={'producto':['A','B','A','B','A'],
'ventas':[100,150,200,120,180]}

df=pd.DataFrame(data)

In [3]:
df

  producto  ventas
0        A     100
1        B     150
2        A     200
3        B     120
4        A     180

In [5]:
df.groupby('producto').sum('ventas')

          ventas
producto
A            480
B            270

In [7]:
df.groupby('producto')['ventas'].sum()

producto
A    480
B    270
Name: ventas, dtype: int64

In [11]:
df['producto'].value_counts()

A    3
B    2
Name: producto, dtype: int64